.sidebar
  grid-area: nav
  position: fixed
  top: 0
  left: 0
  min-height: 100svh
  width: calc(var(--sidebar-width) / 4)
  transition: width var(--transition-300) ease-in-out

  &:hover
    width: var(--sidebar-width)

  @media (width < 992px)
    display: none
