@import '@/Styles/mixins'

.heading
  @include flex-center
  grid-area: heading
  padding: var(--size-xl) 0 var(--spacing-m)

  &__logo
    transition: transform var(--transition-150) linear

.icon
  position: relative
  z-index: 0
  width: min-content
  background-color: hsl(var(--background))
  padding: var(--size-s) 0 var(--size-s) calc(var(--limited-sidebar-width) / 2)
  transform: translateX(-20%)
  transition: transform var(--transition-150) ease-in-out

.nav
  @include flex-center
  flex-direction: column
  width: 100%
  grid-area: nav

  & ul
    width: 100%
    transform: translateY(-5vh)

  &__link
    position: relative
    width: 100%
    z-index: 1

    &.active
      color: hsl(var(--primary))

    &:hover
      background-color: hsl(var(--secondary))

      & .icon
        background-color: hsl(var(--secondary))

.overlay
  @include text-ellipsis
  position: absolute
  top: 0
  left: calc(var(--sidebar-width) / 3)
  height: 100%
  display: flex
  align-items: center
  justify-content: flex-start
  gap: var(--spacing-s)
  opacity: 0
  visibility: hidden
  transform: translateX(-100%)
  z-index: 0
  transition: transform var(--transition-150) ease-in-out, opacity var(--transition-150) ease-in-out, visibility var(--transition-150) ease-in-out

.footer
  position: relative
  grid-area: footer
  padding: var(--spacing-s)
  font-size: var(--size-xs)

  & .overlay
    @include flex-center

.sidebar
  @include fixed(0, auto, auto, 0)
  grid-area: nav
  height: 100svh
  width: var(--limited-sidebar-width)
  display: grid
  grid-template-rows: auto 1fr auto
  grid-template-areas: "heading" "nav" "footer"
  border-right: var(--thickness) solid hsl(var(--border))
  background-color: hsl(var(--background))
  transition: width var(--transition-150) ease-in-out

  &:hover
    width: var(--sidebar-width)

    & .heading__logo
      transform: scale(3) translateY(100%)

      &:hover
        transform: scale(3) translateY(100%) rotate(360deg)

    & .footer .icon
      color: #fe0000

    & .icon
      transform: translateX(-20px)

    & .overlay
      transform: translateX(-25px)
      opacity: 1
      visibility: visible
