:root
  --size-xs: clamp(0.7rem, calc(0.65rem + 0.06vw), 0.8rem)
  --size-s: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem)
  --size-m: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem)
  --size-l: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem)
  --size-xl: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem)
  --size-xxl: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem)
  --size-xxxl: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem)

  --spacing-s: 0.6ch
  --spacing: clamp(0.6rem, calc(0.5rem + 0.03vw), 0.8rem)
  --layout-spacing: clamp(3rem, calc(2.5rem + 2vw), 5rem)
  --sidebar-width: clamp(15rem, 10vw, 30rem)
  
  --golden-ratio: 1.618

  --thickness: 1px
  
  --shadow: 0 0 var(--spacing) hsla(var(--primary) / 0.1)

  --radius: 0.3rem
