@import '@/styles/globals.css'
@import '@/styles/reset.css'
@import '@/styles/transitions.sass'
@import '@/styles/animations.sass'
@import '@/styles/colors.sass'
@import '@/styles/vars.sass'
@import '@/styles/functions.sass'
  
*::-webkit-scrollbar
  width: 0.5rem

  &-track
    background-color: hsla(var(--secondary) / 0.1)
    border-radius: var(--radius)

  &-thumb
    background-color: hsla(var(--secondary) / 0.2)
    border-radius: var(--radius)

    &:hover
      background-color: hsla(var(--secondary) / 0.5)

html
  scroll-behavior: smooth
  font-size: 62.5%

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  min-height: 100svh
  line-height: line-height()
  background-color: hsl(var(--background))
  color: hsl(var(--foreground))
  font-family: var(--font-body)
  font-size: var(--font-size-m)
  display: grid
  grid-template-rows: auto 1fr auto
  grid-template-areas: "header" "main" "nav"
  
  ::selection
    background-color: hsl(var(--foreground))
    color: hsl(var(--background))

  &::-webkit-scrollbar
    width: 1rem

main
  grid-area: main
  overflow-y: auto
  padding: var(--spacing)

h1, h2, h3, h4, h5, h6
  font-family: var(--font-heading)

h1
  font-size: var(--font-size-xxxl)

h2
  font-size: var(--font-size-xxl)

h3
  font-size: var(--font-size-xl)

h4
  font-size: var(--font-size-l)

h5
  font-size: var(--font-size-m)

h6
  font-size: var(--font-size-s)

@media (width > 991px)
  body
    grid-template-areas: "header" "main" "footer"

  main
    padding-left: var(--sidebar-width)
