@import '@/styles/reset.css'
@import '@/styles/globals.css'
@import '@/styles/_transitions.sass'
@import '@/styles/_animations.sass'
@import '@/styles/_colors.sass'
@import '@/styles/_vars.sass'
@import '@/styles/_functions.sass'

*::-webkit-scrollbar
  width: 0.5rem

  &-track
    background-color: hsla(var(--secondary) / 0.1)
    border-radius: var(--radius)

  &-thumb
    background-color: hsla(var(--secondary) / 0.2)
    border-radius: var(--radius)

    &:hover
      background-color: hsla(var(--secondary) / 0.5)

html
  scroll-behavior: smooth

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  width: 100vw
  height: 100svh
  background-color: hsl(var(--background))
  color: hsl(var(--foreground))
  font-family: var(--font-body), sans-serif
  font-size: var(--size-sm)
  line-height: line-height()
  display: grid
  grid-template-rows: auto auto 1fr auto auto
  grid-template-areas: "header" "overlay-top" "main" "overlay-bottom" "nav"

  ::selection
    background-color: hsl(var(--primary))
    color: hsl(var(--primary-foreground))

  &::-webkit-scrollbar
    width: 1rem

main
  grid-area: main
  overflow-y: auto
  padding: var(--spacing-m) var(--layout-spacing) clamp(var(--spacing-m), 20vh, 400px)
  position: relative

.overlay
  width: 100%
  height: 50px

  &__top
    grid-area: overlay-top
    background: linear-gradient(to top, hsla(var(--background) / 0) 0%, hsl(var(--background)) 100%)

  &__bottom
    grid-area: overlay-bottom
    background: linear-gradient(to bottom, hsla(var(--background) / 0) 0%, hsl(var(--background)) 100%)

@media (width > 991px)
  body
    grid-template-areas: "header" "overlay-top" "main" "overlay-bottom" "footer"

  main
    padding-left: calc(var(--sidebar-width) + var(--layout-spacing))
