.dropdown
  &__trigger
    display: flex
    align-items: center
    gap: var(--spacing-s)

  &__option
    display: flex
    align-items: center
    justify-content: space-between
    gap: var(--spacing)
    min-width: 150px