@import '@/styles/mixins.sass'

.avatar
  @include flex-center
  border-radius: 50%
  overflow: hidden
  background-color: hsl(var(--background))
  border: var(--thickness) solid hsl(var(--border))
  width: var(--size-xl)
  height: var(--size-xl)

  &__initiale-letter
    font-size: var(--size-m)
    text-transform: uppercase
