.header
  grid-area: header
  display: flex
  justify-content: space-between
  align-items: center
  padding-inline: var(--layout-spacing)

  @media (width > 991px)
    padding-left: calc(var(--sidebar-width) + var(--layout-spacing))
  