.header
  grid-area: header
  display: flex
  justify-content: space-between
  align-items: center
  padding-inline: var(--layout-spacing)

  &__title
    font-size: var(--size-xxxl)
    font-family: var(--font-heading)

  &__controls
    display: flex
    align-items: center
    gap: var(--spacing)

    &__links
      display: flex
      align-items: center
      gap: var(--spacing)


  @media (width > 991px)
    padding-left: calc(var(--sidebar-width) + var(--layout-spacing))
  