@import '@/styles/mixins'

:root
  --input-padding: var(--spacing-m, 0.55rem)
  --input-radius: var(--element-radius, 5px)

@mixin base-field
  display: flex
  flex-direction: column
  gap: var(--spacing-xs, 0.21rem)

@mixin form-input
  @include focusable
  @include color-transition
  align-items: center
  background-color: transparent
  border: var(--element-stroke, 2px) solid hsl(var(--border, 240 3.7% 15.9%))
  border-radius: var(--input-radius, 5px)
  display: flex
  padding-inline: var(--input-padding, 0.55rem)
  width: 100%

  &::placeholder
    color: hsl(var(--muted-foreground, 240 5% 64.9%))

  &:hover
    background-color: hsla(var(--foreground, 0 0% 98%) / 0.04)

  &:active
    background-color: hsla(var(--foreground, 0 0% 98%) / 0.08)

  &.invalid
    border-color: hsl(var(--red-foreground, 354 61% 48%))

@mixin form-control
  @include form-input
  height: var(--element-size, 1.94rem)

@mixin form-picker
  @include form-control
  justify-content: space-between
