@mixin absolute-center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

@mixin color-transition
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke
  transition-timing-function: var(--timing, ease-in-out)
  transition-duration: var(--transition-150, 0s)

@mixin disabled
  opacity: 0.5
  pointer-events: none
  user-select: none

@mixin focusable
  &:focus-visible
    outline: var(--stroke-m, 0.125rem) solid hsl(var(--ring, 240 4.9% 83.9%))
    outline-offset: var(--stroke-m, 0.125rem)

@mixin fixed-center
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

@mixin flex-center
  display: flex
  align-items: center
  justify-content: center

@mixin full-screen
  position: fixed
  inset: 0
  width: 100vw
  height: 100svh

@mixin text-ellipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
