@layer scrollbar
  *::-webkit-scrollbar
    max-width: var(--size-30, 0.38rem)
    max-height: var(--size-30, 0.38rem)

    &-track
      background-color: hsl(var(--muted, 240 3.7% 15.9%))
      border-radius: var(--radius-circular, 99px)

    &-thumb
      --thumb-color: var(--muted-foreground, 240 5% 64.9%)

      background-color: hsl(var(--thumb-color, 240 5% 64.9%))
      border-radius: var(--radius-circular, 99px)

      &:hover
        background-color: hsla(var(--thumb-color, 240 5% 64.9%) / 0.8)

      &:active
        background-color: hsla(var(--thumb-color, 240 5% 64.9%) / 0.6)
