@layer sizes
  :root
    --size-10: clamp(0.01rem, calc(0.01rem + 0.02vw), 0.15rem)
    --size-20: clamp(0.21rem, calc(0.19rem + 0.03vw), 0.29rem)
    --size-30: clamp(0.45rem, calc(0.43rem + 0.045vw), 0.55rem)
    --size-40: clamp(0.55rem, calc(0.53rem + 0.065vw), 0.68rem)
    --size-50: clamp(0.68rem, calc(0.66rem + 0.08vw), 0.82rem)
    --size-60: clamp(0.82rem, calc(0.8rem + 0.1vw), 0.96rem)
    --size-70: clamp(0.96rem, calc(0.94rem + 0.15vw), 1.125rem)
    --size-80: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem)
    --size-90: clamp(1.35rem, calc(1.21rem + 0.54vw), 1.65rem)
    --size-100: clamp(1.62rem, calc(1.37rem + 0.88vw), 2.25rem)
    --size-110: clamp(1.94rem, calc(1.54rem + 1.08vw), 3.25rem)
    --size-120: clamp(2.33rem, calc(1.7rem + 1.33vw), 4.5rem)
    --size-130: clamp(2.8rem, calc(1.85rem + 1.58vw), 6rem)
    --size-140: clamp(3.36rem, calc(2rem + 1.83vw), 8rem)

    --element-size: var(--size-110, 1.94rem)

    --spacing-xxs: var(--size-10, 0.01rem)
    --spacing-xs: var(--size-20, 0.21rem)
    --spacing-s: var(--size-30, 0.45rem)
    --spacing-m: var(--size-40, 0.55rem)
    --spacing-l: var(--size-50, 0.68rem)
    --spacing-xl: var(--size-60, 0.82rem)
    --spacing-xxl: var(--size-70, 0.96rem)

    --layout-spacing-xxs: var(--size-80, 1.13rem)
    --layout-spacing-xs: var(--size-90, 1.35rem)
    --layout-spacing-s: var(--size-100, 1.62rem)
    --layout-spacing-m: var(--size-110, 1.94rem)
    --layout-spacing-l: var(--size-120, 2.33rem)
    --layout-spacing-xl: var(--size-130, 2.8rem)
    --layout-spacing-xxl: var(--size-140, 3.36rem)

    --radius-xs: 0.25rem
    --radius-s: 0.5rem
    --radius-m: 1rem
    --radius-l: 2rem
    --radius-xl: 4rem
    --radius-circular: 99rem

    --stroke-s: 0.0625rem
    --stroke-m: 0.125rem
    --stroke-l: 0.25rem
    --stroke-xl: 0.5rem
