@layer sizes
  :root
    --layout-spacing-xxs: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem)
    --layout-spacing-xs: clamp(1.35rem, calc(1.21rem + 0.54vw), 1.65rem)
    --layout-spacing-s: clamp(1.62rem, calc(1.37rem + 0.88vw), 2.25rem)
    --layout-spacing-m: clamp(1.94rem, calc(1.54rem + 1.08vw), 3.25rem)
    --layout-spacing-l: clamp(2.33rem, calc(1.7rem + 1.33vw), 4.5rem)
    --layout-spacing-xl: clamp(2.8rem, calc(1.85rem + 1.58vw), 6rem)
    --layout-spacing-xxl: clamp(3.36rem, calc(2rem + 1.83vw), 8rem)

    --spacing-xxs: clamp(0.01rem, calc(0.01rem + 0.02vw), 0.15rem)
    --spacing-xs: clamp(0.21rem, calc(0.19rem + 0.03vw), 0.29rem)
    --spacing-s: clamp(0.45rem, calc(0.43rem + 0.045vw), 0.55rem)
    --spacing-m: clamp(0.55rem, calc(0.53rem + 0.065vw), 0.68rem)
    --spacing-l: clamp(0.68rem, calc(0.66rem + 0.08vw), 0.82rem)
    --spacing-xl: clamp(0.82rem, calc(0.8rem + 0.1vw), 0.96rem)
    --spacing-xxl: clamp(0.96rem, calc(0.94rem + 0.15vw), 1.125rem)

    --radius-xs: .25rem
    --radius-s: .5rem
    --radius-m: 1rem
    --radius-l: 2rem
    --radius-xl: 4rem
    --radius-circular: 99rem

    --stroke-s: 0.0625rem
    --stroke-m: 0.125rem
    --stroke-l: 0.25rem
    --stroke-xl: 0.5rem
