@layer normalize, sizes, colors, transitions, shadows, typography, mixins, scrollbar

@import '@/styles/normalize.css'
@import '@/styles/sizes.sass'
@import '@/styles/colors.sass'
@import '@/styles/transitions.sass'
@import '@/styles/shadows.sass'
@import '@/styles/typography.sass'
@import '@/styles/mixins.sass'
@import '@/styles/scrollbar.sass'

html
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  -webkit-tap-highlight-color: transparent
  accent-color: hsl(var(--accent, 240 3.7% 15.9%))
  caret-color: hsl(var(--accent, 240 3.7% 15.9%))
  color-scheme: dark light
  font-size: var(--base-size, clamp(0.5rem, calc(0.4rem + 1vw), 1.5rem))
  scroll-behavior: smooth
  scroll-padding: var(--layout-spacing-l, 2.33rem)

body
  @include body-medium
  background-color: hsl(var(--background, 240 10% 3.9%))
  color: hsl(var(--foreground, 0 0% 98%))
  display: flex
  flex-direction: column
  min-height: 100svh

main
  flex: 1
  margin-inline: auto
  width: min(1160px, 100% - var(--layout-spacing-m, 1.94rem))

h1, h2, h3, h4, h5, h6
  @include title-medium

::selection
  background-color: hsl(var(--primary, 0 0% 98%))
  color: hsl(var(--primary-foreground, 240 5.9% 10%))
