.popover
  display: flex
  flex-direction: column
  padding: var(--size-xs)
  border-radius: var(--radius)
  margin: var(--size-xs) var(--spacing-m) 0 0
  gap: var(--spacing-m)

  &__username
    text-align: right
    font-size: var(--size-xs)

  &__content
    display: flex
    flex-direction: column

    &__item
      
      &__label
        margin-left: var(--spacing-s)
