.skeleton
  border-radius: 50%
  width: 50px
  height: 50px

.popover
  padding: var(--size-xs)
  border: 1px solid hsl(var(--border))
  border-radius: var(--radius)
  margin: var(--size-xs) var(--spacing) 0 0
  display: flex
  flex-direction: column
  gap: var(--spacing)

  &__links
    display: flex
    flex-direction: column
