.popover
  display: flex
  flex-direction: column
  padding: var(--size-xs)
  border-radius: var(--radius)
  margin: var(--size-xs) var(--spacing) 0 0
  gap: var(--spacing)

  &__username
    text-align: center
    font-size: var(--size-xs)

  &__content
    display: flex
    flex-direction: column

    &__item-label
      margin-left: var(--spacing-s)
