.dialog
  --dropdown-radius: var(--radius-s, 5px)
  background-color: hsl(var(--secondary, 240 10% 3.9%))
  border-radius: var(--dropdown-radius, 5px)

  &__popover
    border-radius: calc(var(--dropdown-radius, 5px) + var(--element-stroke, 2px))
