@import '@/styles/mixins'
@import '@/styles/typography'

.tabs
  display: flex
  flex-direction: column
  gap: var(--spacing-m, 0.55rem)

  &__heading
    display: flex
    gap: var(--spacing-xs, 0.21rem)

    &__item
      @include focusable
      @include ghost-clickable
      align-items: center
      border-radius: var(--radius-s, 5px)
      cursor: pointer
      display: flex
      gap: var(--spacing-xs, 0.21rem)
      justify-content: center
      padding: var(--spacing-s, 0.38rem) var(--spacing-l, 0.68rem)
      width: 100%

      &[data-selected='true']
        background-color: hsl(var(--secondary))

  &__content
    border: var(--element-stroke, 2px) solid hsl(var(--border, 240 3.7% 15.9%))
    border-radius: var(--element-radius, 5px)
    min-height: 25vh
    padding: var(--spacing-l, 0.68rem)
